{port_env, [
    {"DRV_LDFLAGS", "-lcouchbase -shared $ERL_LDFLAGS"},
    {"darwin", "DRV_LDFLAGS", "-lcouchbase -bundle -flat_namespace -undefined suppress $ERL_LDFLAGS"},
    {"DRV_CFLAGS", "-Ic_src -g -Wall -fPIC $ERL_CFLAGS"}
]}.

{port_specs, [{"priv/cberl_drv.so", ["c_src/*.c"]}]}.

{deps, [
    {'jiffy', "", {git, "https://github.com/davisp/jiffy.git", {branch, master}}}
]}.
