{port_env, [
    {"(linux|solaris|darwin)", "LD_RUN_PATH", "$LD_RUN_PATH:deps/libcouchbase/.libs:deps/libvbucket/.libs"},
    {"(linux|solaris|darwin)","DRV_LDFLAGS", "$DRV_LDFLAGS -lstdc++ -Ldeps/libcouchbase/.libs -lcouchbase -Ldeps/libvbucket/.libs -lvbucket"},
    {"(linux|solaris|darwin)","DRV_CFLAGS", "$DRV_CFLAGS -Ideps/libcouchbase/include -fPIC"}
]}.

{pre_hooks,[{'compile',"make -C c_src"},
            {clean, "make -C c_src clean"}]}.

{port_specs, [{"priv/cberl_drv.so", ["c_src/*.c"]}]}.

{deps, [
    {'jiffy', "", {git, "https://github.com/davisp/jiffy.git", {branch, master}}}
]}.
