
{port_env, [
    {"(linux|solaris|darwin)", "LD_RUN_PATH", "$LD_RUN_PATH:deps/libcouchbase/.libs"},
    {"(linux|solaris|darwin)", "LDFLAGS", "$LDFLAGS -lstdc++ -Ldeps/libcouchbase/.libs -lcouchbase"},
    {"(linux|solaris|darwin)", "CFLAGS", "$CFLAGS -Ideps/libcouchbase/include"}
]}.
{pre_hooks,[{'compile',"make -C c_src"},
            {clean, "make -C c_src clean"}]}.

{deps, [
    {'jiffy', "", {git, "https://github.com/davisp/jiffy.git", {branch, master}}}
]}.
