{mode, max}.

% Run X operations per second per worker
% {mode, {rate, X}}

{duration, 1}.

{concurrent, 100}.

{driver, basho_bench_driver_cberl}.

%% code path to cberl/jiffy/poolboy
{code_paths, ["*/cberl",
              "*/cberl/deps/poolboy",
              "*/cberl/deps/jiffy"]}.

{key_generator, {int_to_str, {uniform_int, 100000}}}.

{value_generator, {uniform_bin, 100, 2000}}.

{operations, [{set, 1}, {get, 1}]}.

%% cberl configs
{cberl_pool_size, 5}.
{cberl_hostport, "localhost:8091"}.
{cberl_username, ""}.
{cberl_password, ""}.
